.cajaComentario {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #D1F2EB;
  margin-bottom: 0.5em;
}

.cajaUser {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-right: 2em;
}

.labelUser {
  margin-bottom: 5px;
  color: #45B39D;
}

.imagen {
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.fecha {
  font-size: 11px;
  margin-bottom: 1em;
  color: #2980B9;
}

.cajaMensaje {
  word-wrap: break-word;
  margin-top: 0.5em;
}
